USE [master]
GO
/****** Object:  Database [TestAuth]    Script Date: 2015/6/16 17:39:58 ******/
CREATE DATABASE [TestAuth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestAuth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ACSQL\MSSQL\DATA\TestAuth.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestAuth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ACSQL\MSSQL\DATA\TestAuth_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestAuth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestAuth]
GO
/****** Object:  Table [dbo].[AuthCangKu]    Script Date: 2015/6/16 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthCangKu](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CangKu_ID] [nvarchar](50) NOT NULL,
	[CangKu_Name] [nvarchar](50) NOT NULL,
	[CangKu_BeiZhu] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuthCangKu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthGroups]    Script Date: 2015/6/16 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthGroups](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Group_ID] [nvarchar](50) NOT NULL,
	[Group_Name] [nvarchar](50) NOT NULL,
	[Group_Rule_ID] [nvarchar](50) NULL,
	[Group_Status] [bit] NOT NULL,
	[Group_BeiZhu] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuthGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthItems]    Script Date: 2015/6/16 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthItems](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Item_ID] [nvarchar](50) NOT NULL,
	[Item_Name] [nvarchar](50) NOT NULL,
	[Item_NameSpace] [nvarchar](50) NOT NULL,
	[Item_BeiZhu] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuthItems1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthRules]    Script Date: 2015/6/16 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthRules](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Rule_ID] [nvarchar](50) NOT NULL,
	[Rule_Name] [nvarchar](50) NOT NULL,
	[Rule_Item_ID] [nvarchar](50) NOT NULL,
	[Rule_BeiZhu] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuthRules1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthUsers]    Script Date: 2015/6/16 17:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthUsers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [nvarchar](50) NOT NULL,
	[User_Name] [nvarchar](50) NOT NULL,
	[User_Text] [nvarchar](50) NULL,
	[User_Pass] [nvarchar](50) NULL,
	[User_Tel] [nvarchar](50) NULL,
	[User_QQ] [nvarchar](50) NULL,
	[User_Email] [nvarchar](50) NULL,
	[User_Status] [bit] NOT NULL,
	[User_Group] [nvarchar](50) NULL,
	[User_CangKu] [nvarchar](50) NULL,
	[User_BeiZhu] [nvarchar](100) NULL,
 CONSTRAINT [PK_AuthUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
